@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container {
  align-items: center;
  margin: auto;
  width: 1320px;
  width: calc(1320px-311px);
}
body {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  list-style: none;
}
Text {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: start;
}
.dflex {
  display: flex;
}
.textcenter {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
.bigdaddy {
  position: relative;
}
.topscroll {
  position: fixed;
  z-index: 100;
  right: 15px;
  bottom: 15px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  transition: all 0.4s;
  background-color: #149ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topscroll a {
  color: #f5f8fd;
  text-decoration: none;
}

/* ----------------------  content  ---------------------------------------- */

.content {
  margin-left: 300px;
  width: calc(100% - 300px);
}
.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
/* ----------------------  /content  ---------------------------------------- */

/* ----------------------  Section title  ---------------------------------------- */

section {
  padding: 60px 0;
  overflow: hidden;
  display: block;
}
.container {
  max-width: 100%;
}
.section-title {
  padding-bottom: 30px;
}
div {
  display: block;
}
::after,
::before {
  box-sizing: border-box;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}
.section-title p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 0;
  margin: 0;
}

/* ----------------------  /Section title  ---------------------------------------- */

/* ----------------------  Header  ---------------------------------------- */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #040b14;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
#headerlogo {
  border: 8px solid #2c2f3f;
  height: 126px;
  width: 126px;
  border-radius: 50%;
}
header h1 {
  height: 7%;
  font-size: 24px;
  padding: 15px 0 10px 0;
  font-weight: 600;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}
header nav {
  display: flex;
  height: 9%;
  width: 90%;
  padding: 15px 0 10px 0;
  flex-direction: row;
  justify-content: space-evenly;
}
header nav a {
  background-color: #212431;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
}
header nav a:hover {
  background-color: #149ddd;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
header nav a i {
  position: absolute;
  top: 7px;
  left: 5px;
  color: white;
  font-size: x-large;
}
ul {
  height: 57%;
  width: 90%;
  padding: 0 0 0 0;
}
li {
  list-style-type: none;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
}
header ul li a {
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding-right: 8px;
  color: #6f7180;
  font-size: 15px;
  justify-content: baseline;
  font-weight: 400;
  line-height: 22.5px;
  text-align: left;
  display: flex;
  align-items: center;
}
header ul li a:hover {
  color: white;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
header ul li a:hover i {
  color: #149ddd;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
header ul li a i {
  font-size: 24px;
  margin-right: 12px;
}
.copyright {
  height: 10%;
  width: 75%;
  justify-content: end;
  padding-top: 23px;
}
.copyright p {
  text-align: center;
  font-style: normal;
  font-size: 15px;
  height: 25px;
}

/* ----------------------  /Header  ---------------------------------------- */

/* ----------------------  about  ---------------------------------------- */
.about {
  height: 675px;
  width: 100%;
  display: flex;
}
.ab1 {
  height: 389px;
  width: 31%;
}
.ab1 img {
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.ab2 {
  height: 399px;
  width: 69%;
  align-items: center;
  padding-top: 0;
  padding-left: 20px;
}
.about .container ul li::before {
  content: "";
}
.ab2 strong,
span {
  display: inline-block;
  height: 24px;
  margin-right: 10px;
}
.ab2 p {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: start;
}
.about .container h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
  line-height: 31.2px;
  margin: 0px 0px 8px 0px;
}
.about p {
  margin: 0px 0px 20px 0px;
}
.ab3-ab4-arrow {
  color: #149ddd;
  font-size: 19px;
}
.ab3 {
  height: 160px;
  width: 50%;
}
.about .ab3 ul {
  margin-left: 0px;
}
.about-li {
  margin-top: 25px;
  height: 8px;
  width: 375px;
}
.ab3 ul li,
.ab4 ul li {
  margin-bottom: 10px;
}
.ab4 {
  height: 176px;
  width: 50%;
}
#aboutp2 {
  margin-top: 20px;
}

/* ----------------------  /about  ---------------------------------------- */
/* ----------------------  facts  ---------------------------------------- */

.w25 {
  width: 25%;
}
.box4 {
  box-sizing: border-box;
  height: 157px;
  padding: 30px;
}
#factsbox {
  height: 100px;
}
#factbox i {
  height: 44px;
  width: 44px;
  height: auto;
  color: #149ddd;
  font-size: 44px;
  margin-right: 20px;
}
.facts .box4 span {
  line-height: 50px;
  font-size: 50px;
  font-weight: 700;
}
.facts .box4 p {
  padding: 12px 0 0 0;
  font-family: "Raleway", sans-serif;
  font-size: thin;
  margin: 0;
  line-height: 20px;
  color: #556a86;
}
strong {
  color: #122f57;
  font-weight: bolder;
}

/* ----------------------  /facts  ---------------------------------------- */
/* ----------------------  skills  ---------------------------------------- */
.skills {
  background-color: #f5f8fd;
}
.skills .row {
  height: 180px;
  display: flex;
  flex-wrap: wrap;
}
.skills .progress .skill {
  padding: 0;
  margin: 16px 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}
.skills .progress .skill i {
  font-style: normal;
  float: right;
  font-size: 13px;
}
.sk {
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
.sk1 {
  width: 50%;
}
.sk2 {
  width: 50%;
}
.skills .progress-bar {
  width: 100%;
  height: 10px;
  background-color: #149ddd;
}
.skills .progress-bar {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  text-align: center;
  white-space: nowrap;
}
/* ----------------------  /skills  ---------------------------------------- */

/* ----------------------  /resume  ---------------------------------------- */

/* ----------------------  /resume  ---------------------------------------- */

/* ----------------------  portfolio  ---------------------------------------- */
.portfolio {
  background-color: #f5f8fd;
}
.filters {
  margin: 16px 0px;
}
.portfolio .filters ul {
  height: 41px;
  width: 281px;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  justify-content: space-between;
  border-radius: 50px;
}
.portfolio .filters ul li {
  width: 25%;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  padding: 10px 15px 8px 15px;
  cursor: pointer;
}
.portfolio .filters ul li:hover {
  color: #149ddd;
  /* transition-duration: 0.3s; */
  transition-delay: 0s;
  transition: all 0.3s ease-in-out;
}
.portfolio .container .row {
  margin-top: 25px;
}
.portfolio .row img {
  margin: 10px;
  height: 286px;
  width: 382px;
}
.portfolio .row img:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
}

/* ----------------------  /portfolio  ---------------------------------------- */
