@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500);
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container {
  align-items: center;
  margin: auto;
  width: 100%;
  width: calc(1320px-300px);
}
html,
body {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
Text {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: start;
}
.dflex {
  display: flex;
}
.textcenter {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
.bigdaddy {
  position: relative;
}
.topscroll {
  position: fixed;
  z-index: 100;
  right: 15px;
  bottom: 15px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  color: white;
  background-color: #149ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topscroll a {
  cursor: pointer;
  color: #f5f8fd;
  text-decoration: none;
}
vw
/* ----------------------  home  ---------------------------------------- */
.home {
  margin-left: 300px;
}
#home {
  height: 100vh;
  width: 100%;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* #home::before {
  content: "";
  width: 100;
  height: 100vh;
  margin-left: 300px;
  background-color: rgba(39, 40, 41, 0.248);
  position: absolute;
  top: 0;
  right: 0;
} */
#home .home-row {
  z-index: 1;
  margin-top: -100px;
  margin-left: 250px;
}
#home .home-row h1 {
  font-size: 60px;
  color: #fff;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 10px;
  line-height: 70px;
}
#home .home-row p {
  color: #fff;
  font-size: 30px;
  font-weight: thin;
}

#home .home-row span {
  border-bottom: 4px solid #149ddd;
}
/* ----------------------  home  ---------------------------------------- */

/* ----------------------  content  ---------------------------------------- */

.content {
  margin-left: 300px;
  width: calc(100% - 300px);
}
.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
/* ----------------------  /content  ---------------------------------------- */

/* ----------------------  Section title  ---------------------------------------- */

section {
  padding: 60px 0;
  overflow: hidden;
  display: block;
}
.container {
  max-width: 100%;
  padding-left: 13px;
}
.section-title {
  padding-bottom: 30px;
}
div {
  display: block;
}
::after,
::before {
  box-sizing: border-box;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}
.section-title p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 0;
  margin: 0;
}

/* ----------------------  /Section title  ---------------------------------------- */

/* ----------------------  Header  ---------------------------------------- */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #040b14;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
#headerlogo {
  border: 8px solid #2c2f3f;
  height: 126px;
  width: 126px;
  border-radius: 50%;
}
header h1 {
  height: 7%;
  font-size: 24px;
  padding: 15px 0 10px 0;
  font-weight: 600;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}
header nav {
  display: flex;
  height: 9%;
  width: 90%;
  padding: 15px 0 10px 0;
  flex-direction: row;
  justify-content: space-evenly;
}
header nav a {
  background-color: #212431;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
}
header nav a:hover {
  background-color: #149ddd;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
header nav a i {
  position: absolute;
  top: 7px;
  left: 5px;
  color: white;
  font-size: x-large;
}
ul {
  height: 57%;
  width: 90%;
  padding: 0 0 0 0;
}
li {
  list-style-type: none;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
}
header ul li a {
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  padding-right: 8px;
  color: #6f7180;
  font-size: 15px;
  justify-content: baseline;
  font-weight: 400;
  line-height: 22.5px;
  text-align: left;
  display: flex;
  align-items: center;
}
header ul li a:hover {
  color: white;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
header ul li a:hover i {
  color: #149ddd;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
header ul li a i {
  font-size: 24px;
  margin-right: 12px;
}
.copyright {
  height: 10%;
  width: 75%;
  justify-content: end;
  padding-top: 23px;
}
.copyright p {
  text-align: center;
  font-style: normal;
  font-size: 15px;
  height: 25px;
}

/* ----------------------  /Header  ---------------------------------------- */

/* ----------------------  about  ---------------------------------------- */
.about {
  height: 675px;
  width: 100%;
  display: flex;
}
.ab1 {
  height: 389px;
  width: 31%;
}
.ab1 img {
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.ab2 {
  height: 399px;
  width: 69%;
  align-items: center;
  padding-top: 0;
  padding-left: 20px;
}
.about .container ul li::before {
  content: "";
}
.ab2 strong,
span {
  display: inline-block;
  height: 24px;
  margin-right: 10px;
}
.ab2 p {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: start;
}
.about .container h3 {
  font-weight: 700;
  font-size: 26px;
  color: #173b6c;
  line-height: 31.2px;
  margin: 0px 0px 8px 0px;
}
.about p {
  margin: 0px 0px 10px 0px;
}
.ab3-ab4-arrow {
  color: #149ddd;
  font-size: 19px;
}
.ab3 {
  height: 160px;
  width: 50%;
}
.about .ab3 ul {
  margin-left: 0px;
}
.about-li {
  margin-top: 25px;
  height: 8px;
  width: 375px;
}
.ab3 ul li,
.ab4 ul li {
  margin-bottom: 10px;
}
.ab4 {
  height: 176px;
  width: 50%;
}
#aboutp2 {
  margin-top: 20px;
}

/* ----------------------  /about  ---------------------------------------- */
/* ----------------------  facts  ---------------------------------------- */

.w25 {
  width: 25%;
}
.box4 {
  box-sizing: border-box;
  height: 157px;
  padding: 30px;
}
#factsbox {
  height: 100px;
}
#factbox i {
  height: 44px;
  width: 44px;
  height: auto;
  color: #149ddd;
  font-size: 44px;
  margin-right: 20px;
}
.facts .box4 span {
  line-height: 50px;
  font-size: 50px;
  font-weight: 700;
}
.facts .box4 p {
  padding: 12px 0 0 0;
  font-family: "Raleway", sans-serif;
  font-size: thin;
  margin: 0;
  line-height: 20px;
  color: #556a86;
}
strong {
  color: #122f57;
  font-weight: bolder;
}

/* ----------------------  /facts  ---------------------------------------- */

/* ----------------------  Skills  ---------------------------------------- */
.skills {
  background-color: #f5f8fd;
}
.skills .row {
  height: 180px;
  display: flex;
  flex-wrap: wrap;
}
.skills .progress .skill {
  padding: 0;
  margin: 16px 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}
.skills .progress .skill i {
  font-style: normal;
  float: right;
  font-size: 13px;
}
.sk {
  margin-top: 0;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 100%;
}
.sk1 {
  width: 50%;
}
.sk2 {
  width: 50%;
}
.skills .progress-bar {
  width: 100%;
  height: 10px;
  transition: 0.9s;
  background-color: #149ddd;
}
.skills .progress-bar {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}
/* ----------------------  /Skills  ---------------------------------------- */

/* ----------------------  /resume  ---------------------------------------- */

.resume .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.r1 {
  width: 50%;
}
.r2 {
  width: 50%;
}
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
  padding-bottom: 0;
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-top: 10px;
  margin-bottom: 10px;
}
.resume p {
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  text-align: start;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1rem;
  width: 90%;
}
.resume p em {
  line-height: 24px;
  text-align: start;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
}
.resume .resume-item ul {
  list-style: disc 100px;

  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 1rem;
}
.resume .container .resume-item ul li {
  list-style-type: disc;
  margin: 8px 0;
  padding-bottom: 10px;
  display: list-item;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}
.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
/* ----------------------  /resume  ---------------------------------------- */

/* ----------------------  portfolio  ---------------------------------------- */
.portfolio {
  background-color: #f5f8fd;
}
.filters {
  margin: 16px 0px;
}
.portfolio .filters ul {
  height: 41px;
  width: 281px;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  justify-content: space-between;
  border-radius: 50px;
}
.portfolio .filters ul li {
  width: 25%;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  padding: 10px 15px 8px 15px;
  cursor: pointer;
}
.portfolio .filters ul li:hover {
  color: #149ddd;
  /* transition-duration: 0.3s; */
  transition-delay: 0s;
  transition: all 0.3s ease-in-out;
}
.portfolio .container .row {
  margin-top: 25px;
}
.portfolio .row img {
  margin: 10px;
  height: 286px;
  width: 382px;
}
.portfolio .row img:hover {
  opacity: 0.5;
  transition-duration: 0.5s;
}

/* ----------------------  /portfolio  ---------------------------------------- */
/* ----------------------  services  ---------------------------------------- */
.servicebox {
  height: 130px;
  width: 33.33%;
  margin-bottom: 20px;
  padding: 0 12px;
}
.services .container .servicebox:hover .icon {
  border: 1px solid #149ddd;
  background-color: white;
}
.services .container .servicebox:hover .icon i {
  color: #149ddd;
}
.services .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #149ddd;
  border-radius: 50%;
  transition: 0.5s;
}
.services .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
  cursor: pointer;
}
.services .title a {
  color: #343a40;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-decoration-style: solid;
  margin-left: 25px;
  margin-bottom: 15px;
}
.services .title a:hover {
  color: #149ddd;
  transition: 0s;
}

.services .desc {
  padding: 0;
}
.services .desc p {
  margin-top: 15px;
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
  width: auto;
  text-align: start;
}
/* ----------------------  /services  ---------------------------------------- */
/* ----------------------  testimonials  ---------------------------------------- */
.testimonials {
  background-color: #f5f8fd;
  padding: 60px 0;
}
.testislider {
  /* margin-right: 20px; */
  padding: 0;
  height: 400px;
  width: 32.5%;
  margin: auto;
  padding: 10px;
  text-align: center;
}
.testimonials .para {
  font-style: italic;
  margin: 0 15px 15px 0px;
  padding: 20px;
  line-height: 24px;
  background-color: #fff;
  margin-bottom: 35px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}
.testimonials .para::after {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #ffffff;
  left: 45%;
  bottom: -15px;
  transform: rotate(315deg);
}

.testislider i {
  display: inline-block;
  color: #c3e8fa;
  font-size: 26px;
}

.testislider img {
  vertical-align: middle;
  vertical-align: middle;
  overflow: clip;
  vertical-align: middle;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto;
}
.testislider h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.testislider h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
/* ----------------------  /testimonials  ---------------------------------------- */

/* ----------------------  contact  ---------------------------------------- */

.contact {
  display: flex;
  padding-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
section {
  padding: 60px 0;
  overflow: hidden;
  display: block;
}
.container {
  max-width: 1320px;
}
.section-title {
  padding-bottom: 30px;
}
div {
  display: block;
}
::after,
::before {
  box-sizing: border-box;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}
.section-title p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 0;
  margin: 0;
}
.con {
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  justify-content: flex-start;
  width: 100%;
  background: #fff;
  height: 629px;
  margin: auto;
  padding: 20px;
  margin-bottom: 30px;
}
.con1 {
  width: 40%;
}
.con2 {
  width: 56%;
  margin-top: 0;
}
.contact .info {
  margin: 20px 0px 40px 0px;
}
.contact .info i {
  font-size: 24px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .address:hover i {
  background-color: #149ddd;
  color: white;
}
.contact .email:hover i {
  background-color: #149ddd;
  color: white;
}
.contact .phone:hover i {
  background-color: #149ddd;
  color: white;
}
.contact .info h4 {
  padding: 0 0 6px 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}
.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}
.map {
  margin-top: 30px;
  height: 290px;
}
.contact .email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
}
.contact .email-form .form-group {
  margin-bottom: 15px;
  padding-bottom: 8px;
}
.contact .email-form label {
  padding-bottom: 8px;
}
.contact .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
/* .contact .row .form-group  {
  width: 45%;
  margin: auto;
} */
.contact .row .form-group:nth-child(1),
.contact .row .form-group:nth-child(2) {
  width: 49%;
  margin: auto;
}
label {
  display: inline-block;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 20px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.contact .row .form-group:nth-child(3) {
  width: 98%;
  margin: auto;
  margin-bottom: 15px;
  padding-bottom: 8px;
}
.contact .row .form-group:nth-child(4) {
  width: 98%;
  margin: auto;
}
button[type="submit"] {
  background: #149ddd;
  border: none;
  font-size: 16px;
  font-stretch: 100%;
  cursor: pointer;
  padding: 14px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* ----------------------  /contact  ---------------------------------------- */
